body {
    background-color:rgb(160, 244, 203);
}

.header {
    background-color:rgb(63, 244, 175);
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: 2s;
}

.nav-links a:hover {
    background-color:rgb(178, 250, 224);
}