@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Sunshiney&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-image: linear-gradient(to right, rgb(70, 98, 240), #7daceef9, rgb(97, 243, 97));
}

.header {
    color: rgb(0, 0, 0);
    background-color: rgba(182, 196, 222, 0.476);
    padding: 13px;
    font-family: "Zalando Sans SemiExpanded";
    display: flex;
    justify-content: center;


}

.nav {
    background-color: rgb(165, 214, 237);
    width: 100px;
    height: 170px;
    padding: 40px;
    border-radius: 80px; 
    position: fixed;
    top: 360px;
    right: 0px;
    
}