@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Sunshiney&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-image: linear-gradient(to right, rgb(135, 184, 239), #5591e5f9, rgb(160, 244, 203));
   
}

.header {
    color: rgb(0, 0, 0);
    background-color: rgba(182, 196, 222, 0.476);
    padding: 13px;
    font-family: "Zalando Sans SemiExpanded";


}

.nav {
    background-color: rgb(165, 214, 237);
    width: 100px;
    height: 200px;
    padding: 40px;
    border-radius: 80px; 
    border-style: double;
    position: fixed;
    top: 360px;
    right: 0px;
    
}

.nav-links {
    display: flex;
    padding: 2rem;
    justify-content: flex-start;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: 2s;
}

.nav-links a:hover {
    background-color:rgb(24, 119, 227);
}